version: '3'
services:
  openvpn:
    build:
      context: .
      dockerfile: ./docker/openvpn/Dockerfile
    image: skings-openvpn:latest
    container_name: skings-openvpn
    tty: true
    ports:
      - 4040:4040
    volumes:
      - ./main:/home/main
    privileged: true
