version: '3'
services:
  openvpn:
    build:
      context: .
      dockerfile: ./docker/openvpn/Dockerfile
    image: skings-openvpn:latest
    container_name: skings-openvpn
    tty: true
    ports:
      - "1-65535:1-65535"
    volumes:
      - ./users:/root
    privileged: true
    network_mode: "host"
    environment:
      - IP=82.102.10.78
      - PROTOCOL=tcp
      - PORT=4040
      - DNS=1
      - CLIENT=test
